.App {
  display: flex;
  justify-content: center;

}

body{
  background-color:rgba(248, 208, 230, 0.651);
  font-family: fantasy;
  font-size: 2
0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
